@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  -webkit-border-radius: 50%;
          border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0; } }

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs, td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm, td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md, td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg, td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print, td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

@font-face {
  font-family: "PTAstraSans-Bold";
  /* Имя шрифта */
  src: url("../fonts/PTAstraSans-Bold.ttf");
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: "PTAstraSans-Italic";
  /* Имя шрифта */
  src: url("../fonts/PTAstraSans-Italic.ttf");
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: "PTAstraSans-Regular";
  /* Имя шрифта */
  src: url("../fonts/PTAstraSans-Regular.ttf");
  /* Путь к файлу со шрифтом */ }

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #fff; }

a {
  color: #fff; }

a:hover {
  text-decoration: none;
  color: #fff; }

.header {
  position: relative;
  height: 700px;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 61%;
  -webkit-box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.33) inset;
          box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.33) inset; }

/*---------- preheader start ----------*/
.preheader {
  border-bottom: 1px solid #cecece; }

.social-bar {
  margin-top: 19px; }
  .social-bar__item {
    margin-right: 20px; }

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tel {
  display: inline-block;
  color: #fff; }

.work-time {
  display: inline-block;
  color: #fff; }

.flags {
  display: inline-block; }

/*---------- preheader end ----------*/
/*---------- preheader end ----------*/
.logo__img {
  -webkit-filter: hue-rotate(-360deg);
          filter: hue-rotate(-360deg);
  margin-top: -13px; }

.logo__descr {
  display: inline-block;
  margin-top: 11px;
  margin-left: 5px;
  width: 57px;
  height: 29px;
  font-family: "PT Sans";
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  color: #fff; }

/*---------- preheader end ----------*/
/*---------- preheader end ----------*/
nav {
  margin-top: 25px; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

nav ul:after {
  content: "";
  display: table;
  clear: both; }

nav a {
  text-decoration: none;
  display: block;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  display: block; }

.topmenu > li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative; }

.topmenu > li > a {
  margin: 0px 0px;
  height: 31px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px; }

.topmenu > li > a:hover {
  border-bottom: 1px solid #fff; }

.submenu {
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30px;
  z-index: 5;
  min-width: 200px;
  background-color: #000;
  border-top: 1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }

.submenu li a {
  color: #fff;
  padding: 10px 20px;
  font-size: 13px; }

.submenu li a:hover {
  background-color: #1a1a1a; }

.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }

nav li:hover > .submenu {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  visibility: visible;
  opacity: 1; }

.burger {
  text-align: right;
  color: #fff;
  font-size: 25px; }
  .burger__link {
    margin-top: 10px; }

/*---------- preheader start ----------*/
/*---------- preheader start ----------*/
h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 262px;
  height: 66px;
  color: white;
  font-family: PTAstraSans;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase; }

.description {
  padding-top: 74px;
  padding-bottom: 74px;
  border: 1px solid #cecece; }
  .description__text {
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 265px;
    height: 50px;
    color: white;
    font-family: PTAstraSans-Italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; }

.show-more {
  margin-top: 50px; }
  .show-more__link {
    text-align: center;
    padding: 16px 0px 20px;
    display: block;
    border: 1px solid white;
    color: white;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px; }

/*---------- preheader start ----------*/
/*---------- preheader start ----------*/
.arrow-down {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: 0px;
  color: #fff;
  font-size: 40px; }

/*---------- preheader start ----------*/
.div-par1 {
  margin-top: 80px; }

.div-par2 {
  margin-top: 80px; }

/*---------- preheader start ----------*/
.about {
  min-height: 620px; }

.border-top-left {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-top: 4px solid #f47d42;
  border-left: 4px solid #f47d42; }

.border-top-right {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  border-top: 4px solid #f47d42;
  border-right: 4px solid #f47d42; }

.border-bottom-left {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-bottom: 4px solid #f47d42;
  border-left: 4px solid #f47d42; }

.border-bottom-right {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22px;
  height: 22px;
  border-bottom: 4px solid #f47d42;
  border-right: 4px solid #f47d42; }

.about-card {
  min-height: 400px; }
  .about-card:hover .border-top-left {
    display: block; }
  .about-card:hover .border-top-right {
    display: block; }
  .about-card:hover .border-bottom-left {
    display: block; }
  .about-card:hover .border-bottom-right {
    display: block; }
  .about-card:hover .hover-text {
    display: block; }
  .about-card:hover .arrow-link {
    display: none; }
  .about-card:hover .arrow-link_active {
    display: block;
    margin-top: 6px;
    position: absolute;
    left: 120px; }
  .about-card:hover .about-card__title:before {
    display: none; }
  .about-card__img {
    padding-left: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 55px; }
  .about-card__title {
    padding-left: 40px;
    margin-bottom: 55px;
    width: 140px;
    height: 44px;
    color: black;
    font-family: PTAstraSans-Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase; }
    .about-card__title::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 155px;
      width: 30px;
      height: 4px;
      background-color: #014db7; }
  .about-card__descr {
    padding-left: 40px;
    margin-bottom: 40px;
    width: 220px;
    height: 65px;
    color: black;
    font-family: PTAstraSans-Italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; }
  .about-card__link {
    padding-left: 40px;
    width: 200px;
    display: block;
    width: 200px;
    height: 25px;
    position: relative; }

.hover-text {
  display: none;
  position: absolute;
  top: 0;
  width: 78px;
  height: 9px;
  color: #f47d42;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px; }

.arrow-link {
  position: absolute;
  left: 42px;
  top: 6px; }

.arrow-link_active {
  display: none;
  padding-left: 10px; }

/*---------- preheader start ----------*/
.counter {
  background-image: url(../img/counter-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 600px;
  padding-bottom: 50px; }

.counter-card {
  position: relative; }
  .counter-card__number {
    color: #fff;
    font-family: Exo2;
    font-size: 96px;
    font-weight: 900;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .counter-card__img {
    position: absolute;
    top: 125px;
    left: -20px; }
  .counter-card_descr {
    color: #fff;
    width: 125px;
    height: 57px;
    font-family: PTAstraSans-Regular;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px; }

.proj-card {
  z-index: 2;
  padding: 0px;
  margin-bottom: 60px;
  position: relative;
  min-height: 420px; }
  .proj-card__img {
    width: 100%; }
  .proj-card__descr {
    display: inline-block;
    position: relative;
    height: 23px;
    color: black;
    font-family: PTAstraSans-Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding: 0; }
    .proj-card__descr::before {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      left: -90px;
      width: 45px;
      height: 4px;
      background-color: #014db7; }
  .proj-card__link {
    color: #9197a1;
    margin-top: 20px; }
    .proj-card__link:hover {
      color: #e67c00; }
    .proj-card__link:hover .project-arrow-link {
      display: none; }
    .proj-card__link:hover .arrow-link_active {
      display: inline-block; }
  .proj-card__fon {
    position: absolute;
    top: 65px;
    left: -70px;
    z-index: -1;
    height: 410px;
    background-color: white;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); }

.project-arrow-link {
  padding-left: 20px; }

.project-info {
  display: none; }
  .project-info__title {
    width: 278px;
    color: black;
    font-family: PTAstraSans-Bold;
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
    padding-left: 40px;
    margin-top: 50px; }
  .project-info__year {
    position: relative;
    width: 278px;
    color: black;
    font-family: PTAstraSans-Italic;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    padding-left: 40px; }
    .project-info__year::before {
      content: "";
      width: 11px;
      height: 2px;
      background-color: #014db7;
      position: absolute;
      top: 8px;
      left: 5px; }
  .project-info__area {
    position: relative;
    width: 278px;
    color: black;
    font-family: PTAstraSans-Italic;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    padding-left: 40px; }
    .project-info__area::before {
      content: "";
      width: 11px;
      height: 2px;
      background-color: #014db7;
      position: absolute;
      top: 8px;
      left: 5px; }
  .project-info__contora {
    position: relative;
    width: 278px;
    color: black;
    font-family: PTAstraSans-Italic;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    padding-left: 40px; }
    .project-info__contora::before {
      content: "";
      width: 11px;
      height: 2px;
      background-color: #014db7;
      position: absolute;
      top: 8px;
      left: 5px; }
  .project-info__descr {
    padding-left: 40px;
    font-size: 12px;
    font-family: PTAstraSans-Italic; }

.rotate {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -55px;
  margin-top: 70px;
  width: 150px;
  color: #9197a1;
  font-family: PTAstraSans-Italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px; }

.work-item {
  min-height: 457px;
  border: 1px solid #cecece; }
  .work-item:hover {
    border: 1px solid #f47d42;
    -webkit-box-shadow: 0 20px 40px rgba(244, 125, 66, 0.3);
            box-shadow: 0 20px 40px rgba(244, 125, 66, 0.3); }
  .work-item:hover .hover-text {
    display: block; }
  .work-item:hover .arrow-link {
    display: none; }
  .work-item:hover .arrow-link_active {
    display: block;
    margin-top: 6px;
    float: right;
    margin-right: 70px; }
  .work-item__img {
    padding-left: 40px;
    margin-top: 50px;
    margin-bottom: 70px; }
  .work-item__title {
    padding-left: 40px;
    margin-bottom: 30px;
    width: 220px;
    height: 65px;
    color: black;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 27px; }
  .work-item__descr {
    padding-left: 40px;
    margin-bottom: 30px; }
  .work-item__link {
    display: block;
    height: 25px;
    position: relative; }

.work-item__link {
  margin-top: 30px; }

.work-text {
  margin-left: 43px; }

.partner {
  height: 220px; }

.item {
  width: 110px;
  height: 44px; }
  .item .partner-logo {
    margin-left: 25%;
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }
    .item .partner-logo:hover {
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }

.carusel {
  margin-top: 50px; }

.form__wrapp {
  background-image: url(../img/form-bg.png);
  background-position: center; }

forma {
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 40px; }

.form-title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px; }

.form-descr {
  color: #fff;
  text-align: center;
  font-size: 12px; }

.form__elem {
  min-height: 65px; }

.label {
  padding: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #9197a1;
  color: #9197a1;
  font-family: PTAstraSans-Italic;
  font-size: 14px;
  font-weight: 400; }

.input {
  padding: 0px; }

input[type=text], input[type=email], input[type=tel] {
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
  border-top: none;
  border-bottom: 1px solid #9197a1;
  background-color: transparent;
  padding-bottom: 23px;
  color: black;
  font-family: PTAstraSans-Bold;
  font-size: 14px;
  font-weight: 700; }

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
  border-bottom: 3px solid #014db7;
  outline: none; }

.submit {
  display: block;
  height: 50px;
  color: #014db7;
  border: 2px solid #014db7;
  -webkit-box-shadow: 0 10px 20px rgba(1, 77, 183, 0.2);
          box-shadow: 0 10px 20px rgba(1, 77, 183, 0.2);
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 40px;
  margin-bottom: 15px;
  line-height: 47px;
  text-align: center; }
  .submit:hover {
    color: #e67c00;
    border: 2px solid #e67c00;
    -webkit-box-shadow: 0 10px 20px rgba(230, 124, 0, 0.2);
            box-shadow: 0 10px 20px rgba(230, 124, 0, 0.2); }
  .submit:hover .teleg {
    display: inline-block;
    padding-left: 10px; }

.teleg {
  display: none; }

input:valid:not(:placeholder-shown) {
  border-color: #014db7; }

input:invalid:not(:placeholder-shown) {
  border-color: #e67c00; }

input:invalid:not(:placeholder-shown) + .form__error {
  display: block; }

.form__error {
  display: none;
  color: #e67c00;
  font-size: 10px; }

.uploadButton {
  border: none;
  width: 76px;
  height: 12px;
  color: #9197a1;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: underline; }
  .uploadButton:hover {
    cursor: pointer; }

.uploadDeskr {
  width: 141px;
  height: 31px;
  color: #9197a1;
  font-family: PTAstraSans-Italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0px; }

/*footer-------------------------------------------------------*/
.logo__footer {
  margin-top: 14px; }

.footer-bar__item {
  color: #000;
  margin-right: 31px; }
  .footer-bar__item:hover {
    color: #f47d42; }

.adres {
  font-weight: 400;
  line-height: 18px; }
  .adres__title {
    color: #9197a1;
    font-family: "PT Sans";
    font-size: 10px;
    text-transform: uppercase; }
  .adres__content {
    color: black;
    ont-family: PTAstraSans-Italic;
    font-size: 12px; }

.phone {
  font-weight: 400;
  line-height: 18px; }
  .phone__title {
    color: #9197a1;
    font-family: "PT Sans";
    font-size: 10px;
    text-transform: uppercase; }
  .phone__content {
    width: 82px;
    color: black;
    font-family: PTAstraSans-Italic;
    font-size: 12px; }

.email-adres {
  font-weight: 400;
  line-height: 18px; }
  .email-adres__title {
    color: #9197a1;
    font-family: "PT Sans";
    font-size: 10px;
    text-transform: uppercase; }
  .email-adres__content {
    color: black;
    font-family: PTAstraSans-Italic;
    font-size: 12px; }

.menu-fix {
  background-color: #fff;
  position: fixed;
  top: 0px;
  width: 100%;
  display: none;
  z-index: 100; }

.nav-top {
  margin-top: 10px; }

.logo__descr-fix {
  color: #000; }

.topmenu-fix a {
  color: #000; }

.submenu-fix {
  position: absolute;
  left: 1;
  top: 48px;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }

.burger-fix {
  color: #000; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .hover-text {
    display: block;
    float: left;
    width: 78px;
    height: 9px;
    color: #9197a1;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px; }
  .about-card:hover .arrow-link_active {
    display: none; }
  .about-card:hover .arrow-link {
    display: block;
    top: 6px; }
  .arrow-link {
    position: absolute;
    left: 140px;
    top: 6px; }
  .proj-card {
    margin-bottom: 10px; }
    .proj-card__descr::before {
      content: "";
      left: -71px; }
    .proj-card__fon {
      top: 180px;
      position: absolute;
      left: -70px;
      z-index: -1;
      height: 410px;
      background-color: white;
      border: 1px solid #e5e5e5;
      -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
              box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); }
  .project-info {
    margin-top: 20px;
    margin-bottom: 20px; }
    .project-info__title {
      margin-top: 14px; }
  .div-nepar2 {
    margin-top: -80px; }
  .div-par1 {
    margin-top: 80px; }
  .div-par2 {
    margin-top: 0px; }
  .work-item:hover .arrow-link_active {
    display: none; }
  .work-item:hover .arrow-link {
    display: block;
    float: right; } }

/**/
@media only screen and (max-width: 1024px) {
  .hover-text {
    display: block;
    float: left;
    width: 78px;
    height: 9px;
    color: #9197a1;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px; }
  .about-card:hover .arrow-link_active {
    display: none; }
  .about-card:hover .arrow-link {
    display: block; }
  .proj-card {
    margin-bottom: 10px; }
    .proj-card__descr::before {
      content: "";
      left: -71px; }
    .proj-card__fon {
      top: 60px;
      position: absolute;
      left: -70px;
      z-index: -1;
      height: 410px;
      background-color: white;
      border: 1px solid #e5e5e5;
      -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
              box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); } }

/**/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .proj-card {
    margin-bottom: 50px; }
    .proj-card__descr::before {
      content: "";
      left: -54px; }
  footer {
    text-align: center; }
  .phone__content {
    width: 100%; }
  .footer-bar__item {
    color: #000;
    margin-left: 20px;
    margin-right: 20px; }
    .footer-bar__item:hover {
      color: #f47d42; } }

/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .proj-card {
    margin-bottom: 10px;
    min-height: 300px; }
    .proj-card__descr {
      position: relative; }
      .proj-card__descr::before {
        color: #000;
        ontent: ""; }
    .proj-card__link {
      margin-top: 0px; }
  .div-nepar2 {
    margin-top: 0px; }
  .div-par1 {
    margin-top: 0px; }
  .div-par2 {
    margin-top: 0px; }
  .counter-card__number {
    text-align: center;
    width: 100%; }
  .counter-card__img {
    position: absolute;
    top: 125px;
    left: 20px; }
  .counter-card_descr {
    text-align: center;
    width: 100%; }
  .label {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0px solid #9197a1; }
  .form__elem {
    min-height: 85px; } }

/**/
/* Extra Small Devices, Phones */
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .burger {
    margin-top: 2px;
    font-size: 30px; }
  .logo__img {
    width: 170px; } }

/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**/
